/* root varables */
:root {
    --primary: #5185b9;
    --secondary: #3498db;
    --accent: #e74c3c;
    --light: #f8f9fa;
    --dark: #101114;
    --border: #dee2e6;
    --modeColor: #ffffff;
    --modeColorOPP: #111827;

    --helper-text-color: #9ca3af;
    --footerHoverColor: #5dade2;
    --btnprimaryHover: #2980b9;
    --btnDangerHover: #c0392b;
    --btnSecondaryHover: #7f8c8d;
    --btnSecondaryBG: #95a5a6;

    /* Custom styling for homepage */
    --lightblue: #8FABD4;
    --tanPrimary: #EFECE3;
    --darkblue: #5185b9;
    --veryblack: #000000;
    --blueText: #5185b9;
    --white: #ffffff;

    /*Styling for Inventory*/
    --sidebar-color: #1f2937;
}

/* Override variables for dark mode */
.dark-mode {
    --primary: #1f2937; /* Dark background/base */
    --secondary: #5dade2; /* Lighter accent blue for links/buttons */
    --accent: #f1948a; /* Lighter accent red for errors/alerts */
    --light: #d1d5db; /* Main text/foreground color */
    --dark: #101114;
    --border: #4b5563; /* Subtle dividing lines/borders */
    --modeColor: #111827; /* Deepest background color */ 
    --modeColorOPP: #f9fafb; /* Lightest background color */
    --helper-text-color: #ffffff; /* Muted text color for hints/placeholders */

    /* Custom Styling for Homepage */
    --lightblue: #4A70A9;
    --tanPrimary: #1f2937;
    --darkblue: #1f2937;
    --veryblack: #EFECE3;
    --blueText: #EFECE3;
    --white: #000000;

    /*Styling for Inventory*/
    --sidebar-color: #1f2937;
    
    /*Bootstrap Override*/
    --bs-body-bg: var(--modeColor) !important;
    --bs-emphasis-color: var(--modeColorOPP) !important;
    --bs-secondary-color: var(--light) !important;
}
